*, *:before, *:after
	box-sizing border-box
:focus
	outline 0
body
	margin 0
	font-family "PragmataPro Mono","Consolas",monospace
	font-size 14px
	color #fff
	word-break break-word
	user-select none
label
	display inline-flex
	column-gap 8px
	align-items center
	&:not(:first-child)
		margin-left 8px
input[type=checkbox]
input[type=radio]
	min-width 16px
	min-height 16px
	margin 0
#main
	position absolute
	left 0
	top 0
	width 100%
	height 100%
	display flex
	flex-direction column
	overflow hidden
#topbar
	padding 8px 24px
	display flex
	align-items center
#logo
	margin 0 32px 0 0
#note
	flex 1
	text-align right
#content
	border-top solid 1px #0c0f17
	flex 1
	background #0c0f17
	overflow hidden
.row
.column
	display flex
	gap 1px
.column
	flex-direction column
.col
	flex 1
.xw50
	width 50%
	max-width 50%
.xh50
	height 50%
	max-height 50%
.xh100
	height 100%
	max-height 100%
.CodeMirror
	width 100%
	height 100%
	font inherit
.CodeMirror
.CodeMirror-gutters
	background #232834 !important
.CodeMirror-linenumbers
	width 48px
.CodeMirror-linenumber
	padding-right 7px
	box-sizing border-box
.CodeMirror-cursor
	margin-left -1px
	border-left-width 2px !important
.CodeMirror-lines
	padding 8px 0
	> :first-child > :nth-child(3)
		filter drop-shadow(-1px 0 #151921)drop-shadow(1px 0 #151921)drop-shadow(0 -1px #151921)drop-shadow(0 1px #151921)
.CodeMirror-selected
	background #333c4f !important
.cm-tab
	position relative
	border-left dotted 1px #333c4f
	&:after
		content ""
		position absolute
		left 0
		top 0
		width calc(100% - 1px)
		height 50%
		border-bottom solid 1px #232834
